#pagina-home {
  display: none;
  background: linear-gradient(105.96deg, #ffffff 0%, #f0f0f0 97.86%);
}

#cabecalho {
  padding: 1% 2%;
  display: flex;
  justify-content: space-between;
  height: 15vh;
}

#relogio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
}

#relogio p {
  font-size: 14px;
}

#numero-relogio {
  justify-content: center;
  font-size: 144px;
}

#clima {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 50%;
  margin-top: 0.5%;
}

#clima-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  width: 90%;
}

#icone {
  height: 90%;
}

#temperatura {
  font-size: 48px;
  font-weight: bold;
}

#localizacao {
  font-weight: bold;
}

#conteudo {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 80vh;
}

#globo {
  height: 80vh;
  min-width: 100%;
}

#frases-home {
  margin-top: 5%;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 50%;
  margin-right: 5%;
}

#titulo-menor {
  text-align: right;
}

#titulo-menor h1 {
  font-weight: bold;
  font-size: 38px;
  color: red;
}

#frases-home p {
  font-size: 24px;
  font-weight: bold;
}

#titulo-maior {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bold;
  text-align: right;
}

#titulo-maior h1 {
  color: red;
  font-size: clamp(1em, 3.5vw, 4em);
}

#footer {
  width: 100%;
  display: flex;
  bottom: 0%;
  position: absolute;
  color: white;
  background: linear-gradient(90.16deg, #33383d 0%, #1c1d20 100%);
}

#footer-esquerdo {
  width: 50%;
}

#descricao {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10vh;
}

#frase-descricao {
  font-size: 12px;
  width: 60%;
  text-align: end;
  margin-right: 4%;
}

#borda {
  border-right: solid 1px white;
  height: 70%;
}

#footer-direito {
  display: flex;
  width: 52%;
}

#cronometro {
  display: flex;
  justify-content: flex-end;
  width: 40%;
}

#cronometro-p {
  font-size: 14px;
}

#cronometro-container {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
}

#contador {
  font-size: 48px;
  font-weight: bold;
}

#contador-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#continuar-logout {
  display: flex;
  justify-content: flex-end;
  width: 60%;
}

#continuar-logout button {
  height: 100%;
  font-weight: bold;
  border: 0;
}

#continuar {
  color: red;
  background-color: white;
  width: 16vh;
  padding: 0;
}

#logout {
  color: white;
  background:none;
  width: 16vh;
  cursor: pointer;
  padding: 0;
}
